body{
	font-family: "Times New Roman", Georgia, Serif;
}

h1{
	text-align: center;
}

h3{
	position: relative;
	background-color: blue;
	width:50px;
	font-size:125%;
	padding:20px 5 px 20 px 5 px;
	box-sizing: border-box;

}
div{
border: 1px solid black;

}